# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env

# macOS
.DS_Store

# Kubernetes
*.log
*.yaml
*.yml

# Ignore directories for Python dependencies
venv/
env/
